In [94]:
import os
import sys

import numpy as np
import pandas as pd

In [43]:

sample1_gene_stats = pd.read_csv(
    '2206462-22188Z0056-1-PB-MPD-MYE-M-EGG2_gene_stats.tsv',
    sep="\t", comment='#')

sample2_gene_stats = pd.read_csv(
    '2206600-22193Z0004-1-PB-MPD-MYE-F-EGG2_gene_stats.tsv',
    sep="\t", comment='#')

In [44]:
sample1_gene_stats

,gene,tx,min,mean,max,100x,250x,500x,1000x,1500x
0,ANKRD26,NM_014915.3,903,1512.986100,1979,100.0,100.0,100.0,99.663180,56.709803
1,ARID1A,NM_006015.6,978,1769.361716,2128,100.0,100.0,100.0,99.943327,88.027770
2,ASXL1,NM_015338.6,1477,1831.989628,2139,100.0,100.0,100.0,100.000000,99.810765
3,ATM,NM_000051.4,905,1505.679038,1874,100.0,100.0,100.0,99.591462,57.971607
4,BCL2,NM_000633.3,1100,1849.629662,2220,100.0,100.0,100.0,100.000000,85.405405
...,...,...,...,...,...,...,...,...,...,...
72,TP53,NM_000546.6,1159,1787.774782,2217,100.0,100.0,100.0,100.000000,90.171607
73,U2AF1,NM_006758.3,1202,1626.448618,1981,100.0,100.0,100.0,100.000000,76.214197
74,UBA1,NM_003334.4,608,862.830995,1053,100.0,100.0,100.0,4.668807,0.000000
75,WT1,NM_024426.6,1029,1751.963475,2145,100.0,100.0,100.0,100.000000,85.859796
76,ZRSR2,NM_005089.4,525,840.201129,1034,100.0,100.0,100.0,4.810776,0.000000

In [45]:
sample2_gene_stats

,gene,tx,min,mean,max,100x,250x,500x,1000x,1500x
0,ANKRD26,NM_014915.3,657,1829.046073,2531,100.0,100.0,100.0,99.982273,84.151746
1,ARID1A,NM_006015.6,1147,2179.701082,2761,100.0,100.0,100.0,100.000000,97.166336
2,ASXL1,NM_015338.6,1698,2316.145503,2720,100.0,100.0,100.0,100.000000,100.000000
3,ATM,NM_000051.4,1066,1807.196704,2350,100.0,100.0,100.0,100.000000,86.303748
4,BCL2,NM_000633.3,1364,2348.386216,2970,100.0,100.0,100.0,100.000000,96.756757
...,...,...,...,...,...,...,...,...,...,...
72,TP53,NM_000546.6,1324,2177.148089,2772,100.0,100.0,100.0,100.000000,98.361934
73,U2AF1,NM_006758.3,1500,2000.753724,2468,100.0,100.0,100.0,100.000000,100.000000
74,UBA1,NM_003334.4,1410,2097.179206,2655,100.0,100.0,100.0,100.000000,99.591479
75,WT1,NM_024426.6,1118,2159.600180,2731,100.0,100.0,100.0,100.000000,97.783104
76,ZRSR2,NM_005089.4,1280,2055.120026,2529,100.0,100.0,100.0,100.000000,97.305965

In [27]:
with open('2206462-22188Z0056-1-PB-MPD-MYE-M-EGG2_S20_L001_markdup.hsmetrics.tsv') as f:
    file = f.readlines()
    for idx, line in enumerate(file):
        if line.startswith('## METRICS'):
            sample1_hsmetrics = pd.DataFrame(
                data=[file[idx + 2].split('\t')],
                columns=file[idx + 1].split('\t')
            )
            break


with open('2206600-22193Z0004-1-PB-MPD-MYE-F-EGG2_S21_L001_markdup.hsmetrics.tsv') as f:
    file = f.readlines()
    for idx, line in enumerate(file):
        if line.startswith('## METRICS'):
            sample2_hsmetrics = pd.DataFrame(
                data=[file[idx + 2].split('\t')],
                columns=file[idx + 1].split('\t')
            )
            break

In [151]:
sample1_hsmetrics.iloc[0]

BAIT_SET                          targets
BAIT_TERRITORY                     314960
BAIT_DESIGN_EFFICIENCY                  1
ON_BAIT_BASES                  2092827208
NEAR_BAIT_BASES                 904018251
OFF_BAIT_BASES                 1251222139
PCT_SELECTED_BASES               0.705461
PCT_OFF_BAIT                     0.294539
ON_BAIT_VS_SELECTED              0.698343
MEAN_BAIT_COVERAGE            6644.739675
PCT_USABLE_BASES_ON_BAIT         0.488054
PCT_USABLE_BASES_ON_TARGET       0.105021
FOLD_ENRICHMENT                4848.83487
HS_LIBRARY_SIZE                   4122099
HS_PENALTY_10X                   6.124448
HS_PENALTY_20X                   6.160323
HS_PENALTY_30X                   6.188226
HS_PENALTY_40X                   6.220115
HS_PENALTY_50X                   6.258381
HS_PENALTY_100X                   6.43058
TARGET_TERRITORY                   314960
GENOME_SIZE                    3099922541
TOTAL_READS                      30618054
PF_READS                         30618054
PF_BASES                       4288107144
PF_UNIQUE_READS                  12861414
PF_UQ_READS_ALIGNED              12799673
PF_BASES_ALIGNED               4248067598
PF_UQ_BASES_ALIGNED            1768286655
ON_TARGET_BASES                 450341367
PCT_PF_READS                            1
PCT_PF_UQ_READS                   0.42006
PCT_PF_UQ_READS_ALIGNED            0.9952
MEAN_TARGET_COVERAGE            1429.8367
MEDIAN_TARGET_COVERAGE               1550
MAX_TARGET_COVERAGE                  4974
MIN_TARGET_COVERAGE                    17
ZERO_CVG_TARGETS_PCT                    0
PCT_EXC_DUPE                     0.583743
PCT_EXC_ADAPTER                         0
PCT_EXC_MAPQ                     0.036437
PCT_EXC_BASEQ                    0.005449
PCT_EXC_OVERLAP                    0.1138
PCT_EXC_OFF_TARGET               0.154574
FOLD_80_BASE_PENALTY             1.552483
PCT_TARGET_BASES_1X                     1
PCT_TARGET_BASES_2X                     1
PCT_TARGET_BASES_10X                    1
PCT_TARGET_BASES_20X             0.999997
PCT_TARGET_BASES_30X              0.99999
PCT_TARGET_BASES_40X             0.999987
PCT_TARGET_BASES_50X             0.999984
PCT_TARGET_BASES_100X            0.999984
AT_DROPOUT                       4.038804
GC_DROPOUT                       0.239193
HET_SNP_SENSITIVITY              0.224578
HET_SNP_Q                               1
SAMPLE
LIBRARY
READ_GROUP\n                           \n
Name: 0, dtype: object

In [152]:
sample2_hsmetrics.iloc[0]

BAIT_SET                          targets
BAIT_TERRITORY                     314960
BAIT_DESIGN_EFFICIENCY                  1
ON_BAIT_BASES                  2148871038
NEAR_BAIT_BASES                 986747252
OFF_BAIT_BASES                 1132315707
PCT_SELECTED_BASES               0.734692
PCT_OFF_BAIT                     0.265308
ON_BAIT_VS_SELECTED               0.68531
MEAN_BAIT_COVERAGE            6822.679191
PCT_USABLE_BASES_ON_BAIT         0.499546
PCT_USABLE_BASES_ON_TARGET       0.143545
FOLD_ENRICHMENT               4955.507051
HS_LIBRARY_SIZE                   6225063
HS_PENALTY_10X                   4.123459
HS_PENALTY_20X                   4.134588
HS_PENALTY_30X                   4.149426
HS_PENALTY_40X                   4.156844
HS_PENALTY_50X                   4.170199
HS_PENALTY_100X                  4.223615
TARGET_TERRITORY                   314960
GENOME_SIZE                    3099922541
TOTAL_READS                      30683666
PF_READS                         30683666
PF_BASES                       4301645695
PF_UNIQUE_READS                  15446543
PF_UQ_READS_ALIGNED              15403137
PF_BASES_ALIGNED               4267933997
PF_UQ_BASES_ALIGNED            2137885192
ON_TARGET_BASES                 617479367
PCT_PF_READS                            1
PCT_PF_UQ_READS                  0.503413
PCT_PF_UQ_READS_ALIGNED           0.99719
MEAN_TARGET_COVERAGE          1960.500911
MEDIAN_TARGET_COVERAGE               1981
MAX_TARGET_COVERAGE                  5431
MIN_TARGET_COVERAGE                     0
ZERO_CVG_TARGETS_PCT             0.003358
PCT_EXC_DUPE                     0.499082
PCT_EXC_ADAPTER                         0
PCT_EXC_MAPQ                     0.032267
PCT_EXC_BASEQ                    0.006109
PCT_EXC_OVERLAP                  0.138941
PCT_EXC_OFF_TARGET                0.17894
FOLD_80_BASE_PENALTY             1.188903
PCT_TARGET_BASES_1X              0.995415
PCT_TARGET_BASES_2X              0.994974
PCT_TARGET_BASES_10X             0.994974
PCT_TARGET_BASES_20X             0.994974
PCT_TARGET_BASES_30X             0.994974
PCT_TARGET_BASES_40X             0.994964
PCT_TARGET_BASES_50X             0.994961
PCT_TARGET_BASES_100X            0.994958
AT_DROPOUT                       3.974885
GC_DROPOUT                       0.136432
HET_SNP_SENSITIVITY              0.002809
HET_SNP_Q                               0
SAMPLE
LIBRARY
READ_GROUP\n                           \n
Name: 0, dtype: object

In [153]:
(15446543 / 1960.500911) / ((1960.500911 + 1429.8367) / 2)

4.647841371791325

In [38]:

sample1_hsmetrics[['PCT_USABLE_BASES_ON_TARGET', 'ON_TARGET_BASES']]

  PCT_USABLE_BASES_ON_TARGET ON_TARGET_BASES
0                   0.105021       450341367

In [33]:
sample2_hsmetrics[['PCT_USABLE_BASES_ON_TARGET', 'ON_TARGET_BASES']]

  PCT_USABLE_BASES_ON_TARGET ON_TARGET_BASES
0                   0.143545       617479367

In [55]:
sample1_bases = int(sample1_hsmetrics.iloc[0]['ON_TARGET_BASES']) * float(sample1_hsmetrics.iloc[0]['PCT_USABLE_BASES_ON_TARGET'])
sample1_bases

47295300.703707

In [56]:
sample2_bases = int(sample2_hsmetrics.iloc[0]['ON_TARGET_BASES']) * float(sample2_hsmetrics.iloc[0]['PCT_USABLE_BASES_ON_TARGET'])
sample2_bases

88636075.736015

In [68]:
total_bases = sample1_bases + sample2_bases

In [69]:
sample1_fraction = (total_bases - sample1_bases) / total_bases
sample1_fraction

0.6520648731554642

In [71]:
sample2_fraction = (total_bases - sample2_bases) / total_bases 
sample2_fraction

0.3479351268445356

In [83]:
sample1_ankrd26_mean = round(sample1_gene_stats.iloc[0]['mean'])
sample1_ankrd26_mean

1513

In [82]:
sample2_ankrd26_mean = round(sample2_gene_stats.iloc[0]['mean'])
sample2_ankrd26_mean

1829

In [79]:
# crude mean
crude_mean = round((sample1_ankrd26_mean + sample2_ankrd26_mean) / 2)
crude_mean

1671

In [80]:
# normalised mean
norm_mean = round((sample1_ankrd26_mean * sample1_fraction) + (sample2_ankrd26_mean * sample2_fraction))
norm_mean

1623

In [84]:
print(
    f"Sample1\nUsable bases: {sample1_bases}\nFraction: {sample1_fraction}\n"
    f"Gene mean: {sample1_ankrd26_mean}\n\nSample2\nUsable bases: {sample2_bases}\n"
    f"Fraction: {sample2_fraction}\nGene mean: {sample2_ankrd26_mean}\n\nTotal bases: "
    f"{total_bases}\nCrude mean: {crude_mean}\nNormalised mean: {norm_mean}"
)

Sample1
Usable bases: 47295300.703707
Fraction: 0.6520648731554642
Gene mean: 1513

Sample2
Usable bases: 88636075.736015
Fraction: 0.3479351268445356
Gene mean: 1829

Total bases: 135931376.439722
Crude mean: 1671
Normalised mean: 1623

In [133]:
# looking at per base stats for multiple samples
column = [
            "chrom", "exon_start", "exon_end", "gene", "tx", "exon",
            "cov_start", "cov_end", "cov"
]

sample1_per_base = pd.read_csv(
    '2206462-22188Z0056-1-PB-MPD-MYE-M-EGG2_annotated.bed.gz',
    sep='\t', names=column
)

/home/jethro/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3012: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [134]:
sample2_per_base = pd.read_csv(
    '2206600-22193Z0004-1-PB-MPD-MYE-F-EGG2_annotated.bed.gz',
    sep='\t', names=column
)

In [135]:
# split out each bin of data to individual base records and
# remove bases that fall outside of exon boundaries when bins span them
sample1_per_base['range'] = list(map(list, list(map(
    range, sample1_per_base['cov_start'].values, sample1_per_base['cov_end'].values))))

sample1_per_base.shape

(223734, 10)

In [136]:
sample1_per_base = sample1_per_base.explode('range')
sample1_per_base.shape

(233607, 10)

In [137]:
sample1_per_base = sample1_per_base.iloc[np.where((
        sample1_per_base['exon_end'] > sample1_per_base['range']
    ) & (
        sample1_per_base['exon_start'] <= sample1_per_base['range']
))]

sample1_per_base.shape

(233572, 10)

In [138]:
sample1_per_base.drop(['cov_start', 'cov_end'], axis=1, inplace=True)

sample1_per_base.shape

(233572, 8)

In [139]:
sample1_per_base

,chrom,exon_start,exon_end,gene,tx,exon,cov,range
0,1,1787325,1787442,GNB1,NM_002074.5,11,1255,1787325
1,1,1787325,1787442,GNB1,NM_002074.5,11,1273,1787326
2,1,1787325,1787442,GNB1,NM_002074.5,11,1280,1787327
3,1,1787325,1787442,GNB1,NM_002074.5,11,1286,1787328
4,1,1787325,1787442,GNB1,NM_002074.5,11,1314,1787329
...,...,...,...,...,...,...,...,...
223730,X,134425195,134425335,PHF6,NM_001015877.2,10,603,134425330
223731,X,134425195,134425335,PHF6,NM_001015877.2,10,597,134425331
223732,X,134425195,134425335,PHF6,NM_001015877.2,10,592,134425332
223733,X,134425195,134425335,PHF6,NM_001015877.2,10,590,134425333
223733,X,134425195,134425335,PHF6,NM_001015877.2,10,590,134425334

In [140]:
# read in sample 2 per base and explode as above
sample2_per_base['range'] = list(map(list, list(map(
    range, sample2_per_base['cov_start'].values, sample2_per_base['cov_end'].values))))

sample2_per_base = sample2_per_base.explode('range')

sample2_per_base = sample2_per_base.iloc[np.where((
        sample2_per_base['exon_end'] > sample2_per_base['range']
    ) & (
        sample2_per_base['exon_start'] <= sample2_per_base['range']
))]

sample2_per_base.drop(['cov_start', 'cov_end'], axis=1, inplace=True)

sample2_per_base.shape

(233572, 8)

In [141]:
sample1_per_base.reset_index(drop=True, inplace=True)
sample2_per_base.reset_index(drop=True, inplace=True)

In [142]:
print(sample1_per_base.shape, sample2_per_base.shape)

(233572, 8) (233572, 8)

In [143]:
# add col of normalised coverage for each sample
sample1_per_base['norm'] = sample1_per_base['cov'] * sample1_fraction
sample1_per_base

,chrom,exon_start,exon_end,gene,tx,exon,cov,range,norm
0,1,1787325,1787442,GNB1,NM_002074.5,11,1255,1787325,818.341416
1,1,1787325,1787442,GNB1,NM_002074.5,11,1273,1787326,830.078584
2,1,1787325,1787442,GNB1,NM_002074.5,11,1280,1787327,834.643038
3,1,1787325,1787442,GNB1,NM_002074.5,11,1286,1787328,838.555427
4,1,1787325,1787442,GNB1,NM_002074.5,11,1314,1787329,856.813243
...,...,...,...,...,...,...,...,...,...
233567,X,134425195,134425335,PHF6,NM_001015877.2,10,603,134425330,393.195119
233568,X,134425195,134425335,PHF6,NM_001015877.2,10,597,134425331,389.282729
233569,X,134425195,134425335,PHF6,NM_001015877.2,10,592,134425332,386.022405
233570,X,134425195,134425335,PHF6,NM_001015877.2,10,590,134425333,384.718275
233571,X,134425195,134425335,PHF6,NM_001015877.2,10,590,134425334,384.718275

In [144]:
sample2_per_base['norm'] = sample2_per_base['cov'] * sample2_fraction
sample2_per_base

,chrom,exon_start,exon_end,gene,tx,exon,cov,range,norm
0,1,1787325,1787442,GNB1,NM_002074.5,11,1499,1787325,521.554755
1,1,1787325,1787442,GNB1,NM_002074.5,11,1524,1787326,530.253133
2,1,1787325,1787442,GNB1,NM_002074.5,11,1527,1787327,531.296939
3,1,1787325,1787442,GNB1,NM_002074.5,11,1540,1787328,535.820095
4,1,1787325,1787442,GNB1,NM_002074.5,11,1572,1787329,546.954019
...,...,...,...,...,...,...,...,...,...
233567,X,134425195,134425335,PHF6,NM_001015877.2,10,1561,134425330,543.126733
233568,X,134425195,134425335,PHF6,NM_001015877.2,10,1538,134425331,535.124225
233569,X,134425195,134425335,PHF6,NM_001015877.2,10,1530,134425332,532.340744
233570,X,134425195,134425335,PHF6,NM_001015877.2,10,1520,134425333,528.861393
233571,X,134425195,134425335,PHF6,NM_001015877.2,10,1521,134425334,529.209328

In [146]:
mean_cov = sample1_per_base['norm'] + sample2_per_base['norm']
mean_cov

0         1339.896171
1         1360.331717
2         1365.939976
3         1374.375522
4         1403.767263
             ...
233567     936.321852
233568     924.406954
233569     918.363149
233570     913.579668
233571     913.927603
Name: norm, Length: 233572, dtype: float64

In [147]:
# crude mean to compare
(sample1_per_base['cov'] + sample2_per_base['cov']) / 2

0         1377.0
1         1398.5
2         1403.5
3         1413.0
4         1443.0
           ...
233567    1082.0
233568    1067.5
233569    1061.0
233570    1055.0
233571    1055.5
Name: cov, Length: 233572, dtype: float64

111